html {
    background-color: #81afc6;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

div {
    /* background-color: #b7cbd0;
    background-color: #3b7bcb;
    background-color: #a6a6a6;
    background-color: #dbdbdb;
    background-color: #b7cbd0;
    background-color: #7891a2;
    background-color: #5abeb6;
    background-color: #276c66; */
    background-color: #81afc6;
}
.App{
    text-align: center;
}

.nav-bar{
    background-color: #0f6197;
    padding-right: 400px;
    box-shadow: inset rgba(#0f6197,.8) 0 130px 20px, inset #000 0 0 100px;
    a{
        text-decoration: underline;
        color: #000000;
        padding: 0 25px;
        font-size: 30px;
    }
    a:hover{
        color: #fff;
    }
}
