.banks-list-item{

    background-color: #7891a2;
    padding: 5px 0;
    color: #fff;
    margin: 20px auto;
    align-items: center;
    border-radius: 4px;
    box-shadow: -10px 10px 10px rgba(0,0,0, .5);

    div{
        background-color: #7891a2;
        align-items: center;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0;
        border-left: 3px solid;
        input{
            max-width: 80%;
            text-align: center;
            background-color: #c6dae8;
        }
    }

    div:first-child{
        border: none;
    }
    


    .interest-rate{

    }
    
    .max-roan{

    }

    .min-down-pay{

    }

    .loan-term{

    }

    .actions-btn-group{
        button {
            width: 35px;
            height: 35px;
            margin: auto 10px;
            font-size: 17px;
            border: none;
            cursor: pointer;
        }
        
        .btn-cookie {
            color: rgb(49, 2, 177);
        }
        
        .btn-trash {
            color: #e5383b;
        }
        .btn-edit {
            color: #3eac1d;
        }
        .btn-edit-active {
            color: rgb(192, 192, 53);
        }
    }
    
}
.marked{
    color: rgb(49, 2, 177);
}